/* provider */

.section-title h2 {
    margin-bottom: 60px;
    text-align: center;
    color: #e45f2b;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    margin-left: 40px;
    margin-bottom: 50px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    overflow: hidden;
}

.testimonials .testimonial-item .testimonial-img {
    width: 300px;
    height: 180px;
    object-fit: contain;
    object-position: center;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
    padding-left: 30px;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #e45f2b;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e45f2b;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }

    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}

@media (max-width: 768px) {
    .testimonials .testimonial-item {
        margin-left: 0px;
    }
    .testimonials .swiper-pagination {
        padding-left: 10px;
    }
}

/* provider end */

