body{
    background-color: #F0F2F5;
    background-image:  url("../../public/images/bglogin.png");
}


.logo img{
    width: 226px;
    height: 83px;
}

.logo p{
    color: d9d9d9;
}

.form-login{
    margin-top: 100px;
}