* {
  font-family: "Inter", sans-serif;
}
.table_item {
  width: 13%;
  text-align: center;
  padding: 0;
}

.table_item_id {
  width: 9.5%;
  text-align: center;
}
.table_item_title {
  text-align: center;
  word-wrap: break-word;
}

.table_item_image {
  text-align: center;
  width: 11%;
}

.item_image {
  height: 68px;
  width: 54px;
  object-fit: contain;
}

.action_edit {
  color: #28a745;
  font-size: 24px;
}

.delete-product {
  color: #dc3545;
  font-size: 24px;
}

.action_detail {
  font-size: 24px;
}

.wrap_table {
  margin-top: 6px;
  padding-top: 21px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 6px;
  background-color: #ffffff;
}

#item_head_table {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item_table {
  text-align: center;
  vertical-align: middle;
}
.item_table_title {
  vertical-align: middle;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #dad7d7;
}

.head_item {
  font-size: 13px;
}

.body_item {
  font-size: 13px;
}
.addLink {
  padding: 10px 16px;
}

.table_item_one {
  text-align: center;
}

.pagination .page-item .page-link {
  border: none;
  background-color: #f8f9fa;
  color: #424242;
}

.pagination .page-item.disabled .page-link {
  border: none;
  background-color: #f8f9fa;
  color: #9b9b9b;
}

.pagination .page-item.active .page-link {
  background-color: #1266f1;
  color: #fff;
  border-radius: 4px;
}

.pagination .page-item .page-link:hover {
  background-color: #e7e7ea;
}

#searchBtn:hover {
  color: #000000;
  background-color: #ffff;
}

.input-group {
  width: 240px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff !important;
}

.wrap_img_detail {
  max-width: 100%;
  text-align: center;
}

.wrap_img_detail img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.label_input {
  font-weight: 600;
  font-size: 16px;
}

.label_right {
  font-weight: 500;
  color: #909090;
}

.date_value {
  font-weight: 500;
  color: #909090;
}

.btn {
  border-radius: 6px;
}

.status-inactive {
  background-color: #f8d7da;
  color: #58151c;
  width: 30%;
  text-align: center;
  margin: auto;
}

.status-active {
  background-color: #c7f5d9;
  color: #174c2c;
  width: 65%;
  text-align: center;
  margin: auto;
}

.dropzone .dz-preview .dz-image {
  border-radius: 0px;
  width: auto;
  height: auto;
}

.dropzone .dz-preview .dz-image img {
  width: 100%;
}

.dropzone {
  padding: 0px 0px;
}

.dropzone .dz-preview {
  margin: 0px;
}

.dropzone-container {
  position: relative;
}

.container_search {
  position: relative;
}

#searchBtn {
  position: absolute;
  color: #000000;
  right: 6px;
  z-index: 11111;
  top: 1px;
  border: none;
}

.input-search {
  border-radius: 6px !important;
  background-color: #ffffff;
}

#deleteImageBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  color: fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1111;
  border-radius: 6px;
}

.toast_create,
.toast_update {
  top: 5%;
}

.back_home {
  color: #2597ff;
  font-weight: 700;
}

.bi-arrow-left::before {
  font-weight: bold !important;
}

.item-promotion {
  box-shadow: 0 0 8px rgba(24, 144, 255, 0.5), 0 0 8px rgba(24, 144, 255, 0.5);
}

.boxInfo {
  box-shadow: 0 0 8px rgba(24, 144, 255, 0.5), 0 0 8px rgba(24, 144, 255, 0.5);
}

.wrapContent {
  background-color: #f0f2f5;
}

.selectInput {
  height: 37.78px;
}

.wrap_detail {
  background-color: #ffffff;
}

.delete-voucher {
  color: #dc3545;
  font-size: 24px;
}
